<a href="https://colab.research.google.com/github/platon09/50projects50days/blob/master/%D0%A2%D1%96%D0%B7%D1%96%D0%BC_%D0%BC%D0%B5%D0%BD_%D0%9A%D0%BE%D1%80%D1%82%D0%B5%D0%B6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Тізім тік жақшамен немесе кіріктірілген list() функциясы арқылы жасаса болады

In [ ]:
list_1 = ["banana", "cherry", "apple"]
print(list_1)

# Немесе бос list функциясы арқылы жасасақ болады, бірақ ол кезде біз бос тізім жасаймыз
list_2 = list()
print(list_2)

# былайда істесек болады, бос емес тізім жасағымыз келсек, бірақ бұл тупизм болады
lst = list([1, 2, 3])
print(lst)

['banana', 'cherry', 'apple']
[]
[1, 2, 3]

In [ ]:
# Тізім кез-келген түрдегі(тип) деректерді сақтай береді
list_3 = [2, 2, 3, 1.5, [], [1, 2, 3, True], [[1.2, 'Soz'], [1, 4], 111]]
print(list_3)

[2, 2, 3, 1.5, [], [1, 2, 3, True], [[1.2, 'Soz'], [1, 4], 111]]

In [ ]:
# Тізім ұқсас деректерді сақтай береді
list_4 = [0, 0, 1, 1, 'alma', 'alma']
print(list_4)

[0, 0, 1, 1, 'alma', 'alma']

# Тізімнің элементтерін(ішінде сақталып тұрған деректерді) индексі арқылы ала аласыз. Есте болсын индекс нөлден басталады.

In [ ]:
item = list_1[0] # біз ең басында жасалған тізімнің бірінші элементтін алып жатырмыз, ол banana болатын.
print(item)

# сонымен қатар теріс сандарды индекс ретінде қолдансақ болады, 
# мысалы n элементтен тұратын 'tizim' деп аталатын тізімнің соңғы элементтін алу үшін
# біз tizim[n-1] демей, tizim[-1] десек болады
# соңынан алар болсақ минус сандар қолданамыз, ал соңынан санағанда екінші тұрған элементті
# алғымыз келсе -2 дейміз, солай кете береді. Яғни артынан санайтын болсақ индекс -1 ден басталады
# ал өсу ретімен, әдеттегідей болса 0-ден бастаймыз индексті
#    0, 1, 2, 3, 4, 5, 6, 7, 8, 9 әдеттегі индекстің реті
#  -10 -9 -8 -7 -6 -5 -4 -3 -2  -1 ал мынау артынан индексті санар болсақ

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

item = a[9]
item2 = a[-1]
print(item, item2) # екеуіде соңғы элементті шығарады

banana
10 10

In [ ]:
# Тағы бір мысал
list_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
item = list_1[-3]
print(item)

8

In [ ]:
# Лист жасалған соң, оның элементтерін ауыстыра аламыз
list_1[-3] = "lemon"
list_1[1] = 'eki'
print(list_1)

[1, 'eki', 3, 4, 5, 6, 7, 'lemon', 9, 10]

# Пайдалы методтар(функциялар)

In [ ]:
my_list = ["banana", "cherry", "apple"]

In [ ]:
# len() : тізім ішіндегі элементтердің санын қайтарады    LENGTH
print("Length: ", len(my_list))

Length:  3

In [ ]:
# append() : тізім соңына элемент қосып береді
my_list.append("orange")
print(my_list)

['banana', 'cherry', 'apple', 'orange']

In [ ]:
# insert() : нақты бір жерге элементті қыстырып қоса аласыз
my_list.insert(1, "potato") # 2 орынға картопты қояйық
print(my_list)

['banana', 'potato', 'cherry', 'apple', 'orange']

In [ ]:
# pop() : соңғы тұрған элементті жояды және қайтарып береді, сондықтан біз оны жою барысында бір айнымалыға меншіктеп сақтап алсақ болады
item = my_list.pop() # жою сәті және жойылған элементті сақтап алдық
print(my_list) # соңғы элементті жойылған тізім
print("Popped item: ", item) # жойылған элемент

['banana', 'potato', 'cherry', 'apple']
Popped item:  orange

In [ ]:
# remove() : элементті жояды, ескеру керек егер жойғымыз келген элемент екеу не оданда көп болса, біріншісін ғана жояды
my_list.remove("cherry") # cherry-ді тізімнен жойып жатырқ
print(my_list)

['banana', 'potato', 'apple']

In [ ]:
# clear() : бұл барлығын жояды, ештеңе қалдырмайды
my_list.clear()
print(my_list) # дым қалмад

[]

In [ ]:
# reverse() : тізім элементтерін кері айналдырады
my_list = ["banana", "cherry", "apple"]
print('Before reversing: ', my_list)
my_list.reverse()
print('Reversed:         ', my_list)

Before reversing:  ['banana', 'cherry', 'apple']
Reversed:          ['apple', 'cherry', 'banana']

In [ ]:
# reversed() : осындай да бар бірақ ол сәтте ғана аударады, яғни аударылу сақталмайд
my_list = ["banana", "cherry", "apple"]
print(reversed(my_list))
print(list(reversed(my_list)))
print(my_list)

# оны сақтау үшін, бір айнымалыға меншіктейміз, жалпы бұның бәрі артық жұмыс reverse() деген әлдеқайда артық
# біз бұны былайда айтсақ болады, жаңа аударылған тізім алу үшін деп
reversed_list = list(reversed(my_list))
print("Reversed list: ", reversed_list)

<list_reverseiterator object at 0x7fe73fc2a110>
['apple', 'cherry', 'banana']
['banana', 'cherry', 'apple']
Reversed list:  ['apple', 'cherry', 'banana']

In [ ]:
# sort() : ASCII коды бойынша сұрыптап береді
my_list = ['cherry','apple', 'banana', 'Zapple']
my_list.sort()
print('Sorted: ', my_list)

Sorted:  ['Zapple', 'apple', 'banana', 'cherry']

In [ ]:
# sorted() : түпнұсқа тізімге әсер етпей, жаңа сұрыпталған тізім алу үшін;
# reversed() сияқты
my_list = ["banana", "cherry", "apple"]
new_list = sorted(my_list)
print(new_list)
print(my_list)

['apple', 'banana', 'cherry']
['banana', 'cherry', 'apple']

In [ ]:
# қайталанған элементтері бар тізім жасай аламыз
list_with_zeros = [0] * 10
print(list_with_zeros)
print(len(list_with_zeros))

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
10

In [ ]:
# тізімдерді біріктіре аламыз
list_concat = list_with_zeros + my_list
print(list_concat)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'banana', 'cherry', 'apple']

In [ ]:
# string түріндегі мәнді тізіге айналдыра аламыз 
string_to_list = list('Сәлем, Әлем!')
print(string_to_list)

['С', 'ә', 'л', 'е', 'м', ',', ' ', 'Ә', 'л', 'е', 'м', '!']

# Тізімдердің көшірмесін жасау

In [ ]:
list_org = ["banana", "cherry", "apple"]

In [ ]:
# төмендегі жоғарыдағы тізімге тек жаңа сілтеме жасайды, яғни біз оның клонын емес, жаңа есімін жасап жатырмыз
# мысалы мен дүниеге келгенде Мұқаммедәли деген атым болды, кейін еркелетіп Әлекө деп атады
# бұл жерде тағы бір менің көшірмем пайда болған жоқ, жәй ғана менің екінші атым пайда болды
# енді мені осы екі аттың кез-келгенімен шақыра алады
# сондықтан төмендегідей жасағанда, осыларды ескеріп, абай болу керек
list_copy = list_org

In [ ]:
# мысалы қазір көшірмесін өзгертсек, өзгеріс түпнұсқасында да болады
list_copy.append(True)
print('list_copy',list_copy)
print('list_org ', list_org)

list_copy ['banana', 'cherry', 'apple', True]
list_org  ['banana', 'cherry', 'apple', True]

In [ ]:
# тағы бір мысалы
list_org.remove(True)
print('list_copy',list_copy)
print('list_org ', list_org)
# қосқан True-мыз жойылды

list_copy ['banana', 'cherry', 'apple']
list_org  ['banana', 'cherry', 'apple']

In [ ]:
# сондықтан copy() немесе list(x) амалын көшірме жасау үшін қолданамыз
# кесудіде қолдансақ болады: list_copy = list_org[:]
list_org = ["banana", "cherry", "apple"]

list_copy = list_org.copy()
# list_copy = list(list_org)
# list_copy = list_org[:]

# енді алдындағы сияқты біреуін өзгертсек, ол ешқалай екіншісіне әсер етпейді
list_copy.append(True)
print(list_copy)
print(list_org)

['banana', 'cherry', 'apple', True]
['banana', 'cherry', 'apple']

# Итерация, тізім бойымен жүгіру (қайталау, цикл)

In [ ]:
# Цикл арқылы тізім бойымен жүгіре аламыз
for i in list_1:
  print(i)

1
eki
3
4
5
6
7
lemon
9
10

# Тізімнің ішінде бір заттың бар жоғын тексере аламыз

In [ ]:
list_1 = ['banana', 'cherry', 'lemon']
if "banana" in list_1:
    print("yes")
else:
    print("no")

print('------')
print('cherry' in list_1)
print('Qaz' in list_1)

yes
------
True
False

# Кесу

In [ ]:
# a[басы:аяғы:қадам], қадамды бермесек, қадам 1 деп есептеледі
# 'басы' деген жерге индекс қоямыз(0-ден басталады), 'аяғы' дегенге реттілік бойыншы
# яғни 1-ден бастап санаймыз(индекс сияқты 0-ден емес)
#   [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b = a[5:8] # байқасаңыз соңғы индекс енгізілмеген
print(b)

[6, 7, 8]

In [ ]:
b = a[2:] # 3-інші тұрған саннан бастап соңына дейін
print(b)

[3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
b = a[:5] # басынан бастап 5-інші тұрған санға дейін(5-інші санда кіреді аралыққа)
print(b)

[1, 2, 3, 4, 5]

In [ ]:
a[0:3] = [0] # тізім ішіндегі аралықтарды ауыстыра аламыз
print(a)

[0, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b = a[::2] # басынан бастап аяғына дейінгі әр екінші элементті шығарамыз
print(b)
b = a[::4] # басынан бастап аяғына дейінгі әр төртінші элементті шығарамыз
print(b)

[1, 3, 5, 7, 9]
[1, 5, 9]

In [ ]:
a = a[::-1] # қадамда теріс сан қолдану арқылы біз тізімді reverse() сияқты аудара аламыз
print(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
b = a[:] # кесу арқылы біз тізімнің жеке дара көшірмесін жасасақ болады
print(b)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Тізім арқылы ықшам жаза аламыз

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
b = []
for i in a:
    b.append(i)
print(b)

# осылай істегеннің орнына
c = [i for i in a] # деп жазсақ болады
print(c)

a = [1, 2, 3, 4, 5, 6, 7, 8]
b = [i * i for i in a] # сандардың квадратын тауып, тізімге енгізе аламыз
# осы сияқты кез келген амал жасасақ болады
print(b)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
# тағы бір мысалы
radiuses = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] # мысалы мында радиустар сақтаулы
pi = 3.14

# кәз біз радиустар арқылы шеңберлердің ауданын табамыз
S = [pi*r**2 for r in radiuses]

print(radiuses)
print(S)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[12.56, 28.26, 50.24, 78.5, 113.04, 153.86, 200.96, 254.34, 314.0, 379.94, 452.16]

In [ ]:
# Шартты операторларды да қолдана аламыз
nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# давайте тек жұп сандарды жаңа тізімге сақтап алайық
even_nums = [n for n in nums if n % 2 == 0 and n != 0]
print(even_nums)

[2, 4, 6, 8, 10]

In [ ]:
# тағы бір мысал, давайте жұп сандарды 1-ге, ал тақ сандарды 0-ге айналдырайық
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

new_nums = [1 if n % 2 == 0 else 0 for n in nums]
print(new_nums)

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

# Бірнеше не одан да көп деңгейлі тізім жасай аламыз

In [ ]:
a = [[1, 2], [3, 4, [9, 2, 3]]]
print(a)
print(a[0])
print(a[1])
print(a[1][2])

[[1, 2], [3, 4, [9, 2, 3]]]
[1, 2]
[3, 4, [9, 2, 3]]
[9, 2, 3]

# **Кортеж**

Бұның енді тізімнен ерекшелігі бұл өзгертілмейді, яғни басында қалай жасалды, солай қалады. Не жаңа элемент қоса алмаймыз, не ішінен өшіре алмаймыз.

# Кортеж жасау

In [ ]:
tuple_1 = ("Max", 28, "New York")
tuple_2 = "Linda", 25, "Miami" # Жақша міндетті емес

# егер жалғыз элемент ғана болса міндетті түрде үтір қою керек соңына
# әйтпесе ол кортеж емес сол элементтің типі болады

# мысалы
tuple_3_0 = (25) # үтір жоқ
print(type(tuple_3_0)) # типі int болады

tuple_3 = (25,) # ал былай үтір қойсақ, бәрі дұрыс, кортеж болады
print(type(tuple_3)) # типі tuple дейді

print(tuple_1)
print(tuple_2)
print(tuple_3)

<class 'int'>
<class 'tuple'>
('Max', 28, 'New York')
('Linda', 25, 'Miami')
(25,)

In [ ]:
# List(тізім) немесе string типіндегі деректерді кортежға конвертация жасай аламыз
tuple_4 = tuple([1,2,3])
print(tuple_4)
tuple_5 = tuple('Hello, World!')
print(tuple_5)

(1, 2, 3)
('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

# Кортеждің элементтерін(ішінде сақталып тұрған деректерді) индексі арқылы ала аласыз. Есте болсын индекс нөлден басталады.

In [ ]:
item = tuple_1[0]
print(item)

# сонымен қатар теріс сандарды индекс ретінде қолдансақ болады, 
# соңғы санды алу үшін -1, ал соңынан санағанда екінші тұрған элементті
# алғымыз келсе -2 дейміз, солай кете береді

item = tuple_1[-1]
print(item)

Max
New York

# Элементтер қосу немесе өзгерту
Мүмкін емес

In [ ]:
tuple_1[2] = "Boston"

TypeError: ignored

# Кортежді жою

In [ ]:
del tuple_2

# Итерация, кортеж бойымен жүгіре аламыз

In [ ]:
for i in tuple_1:
    print(i)

Max
28
New York

# Кортежда бір заттың бар-жоғын тексере аламыз

In [ ]:
if "New York" in tuple_1:
    print("yes")
else:
    print("no")

yes

# Пайдалы методтар(функциялар)

In [ ]:
my_tuple = ('a','p','p','l','e',)

# len() : кортеж ішіндегі элементтердің санын қайтарады
print(len(my_tuple))

# count(x) : бір заттың кортеж ішіндегі санын санап береді, айтпақшы бұл тізімде де қолданылады
print(my_tuple.count('p'))

# index(x) : бір заттың кортеж ішіндегі индексін(ретін) тауып береді, ол бірінші тұрса нөлді қайтарады
# бұлда тізімде қолданылады, жалпы кортежда бар барлық функциялар тізімде бар
print(my_tuple.index('l'))

# еселеп үлкейту
my_tuple = ('a', 'b') * 5
print(my_tuple)

# біріктіру
my_tuple = (1,2,3) + (4,5,6)
print(my_tuple)

# тізімді кортежға айналдыру және керісінше
my_list = ['a', 'b', 'c', 'd']
list_to_tuple = tuple(my_list)
print(list_to_tuple)
tuple_to_list = list(list_to_tuple)
print(tuple_to_list)

# сөзді кортежға айналдыру символдарын бөлу
string_to_tuple = tuple('Hello')
print(string_to_tuple)

5
2
3
('a', 'b', 'a', 'b', 'a', 'b', 'a', 'b', 'a', 'b')
(1, 2, 3, 4, 5, 6)
('a', 'b', 'c', 'd')
['a', 'b', 'c', 'd']
('H', 'e', 'l', 'l', 'o')

# Кесу

In [ ]:
# a[басы:аяғы:қадам], қадам бастапқы мән ретінде 1 болып тұрады
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
b = a[2:7] # үшінші саннан жетінші санға дейінгі сандарды шығарамыз
print(b)
b = a[2:] # үшінші саннан соңына дейін
print(b)
b = a[:3] # басынан үшінші санға дейін, үшінші санда аралыққа кіреді
print(b)
b = a[::2] # басынан аяғына дейінгі әр екінші сан
print(b)
b = a[::-1] # кортежды кері аударсақ болады
print(b)

(3, 4, 5, 6, 7)
(3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3)
(1, 3, 5, 7, 9)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

# Кортежды пайдалану

In [ ]:
# айнымалылар мөлшері кортеждағы элементтер санымен бірдей болу керек
tuple_1 = ("Muqammedali", 28, "New York", True, "Qazaq", 178, 78)
name, age, city, married, nationality, height, weight = tuple_1
print(name)
print(age)
print(city)
print(married)
print(nationality)
print(height)
print(weight)

print('------------')

# кортеждың ортасындағы аралықты * - арқылы тізімге сақтап алсақ болады
my_tuple = (0, 1, 2, 3, 4, 5)
item_first, *items_between, item_last = my_tuple
print(item_first)
print(items_between)
print(item_last)

Muqammedali
28
New York
True
Qazaq
178
78
------------
0
[1, 2, 3, 4]
5

Бірнеше не одан да көп деңгейлі кортеж жасай аламыз

In [ ]:
a = ((0, 1), ('age', 'height'))
print(a)
print(a[0])

((0, 1), ('age', 'height'))
(0, 1)

# **Кортеж бен тізімді салыстырып көрейік**

In [ ]:
# қаншалықты жады алады екен, соны салыстырайық
import sys
my_list = [0, 1, 2, "hello", True]
my_tuple = (0, 1, 2, "hello", True)
print('Тізім алатын жады:  ', sys.getsizeof(my_list), "bytes")
print('Кортеж алатын жады: ', sys.getsizeof(my_tuple), "bytes")

# тізімнің және кортеждың жасалу жылдамдығын салыстырайық
import timeit
print('Тізімнің құралу уақыты: ', timeit.timeit(stmt="[0, 1, 2, 3, 4, 5]", number=1000000))
print('Кортеждың құралу уақыты:', timeit.timeit(stmt="(0, 1, 2, 3, 4, 5)", number=1000000))

Тізім алатын жады:   112 bytes
Кортеж алатын жады:  96 bytes
Тізімнің құралу уақыты:  0.08696735800003808
Кортеждың құралу уақыты: 0.014058132999707595